body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.test {
  color: red;
}

td,
table {
  border: 1px solid black;
}

.cart-img {
  width: 100px;
  height: 100px;
  display: block;
}

.cart-prod-quant {
  width: 50px;
}

.cart-item-rmv {
  color: white;
  background-color: red;
  border: none;
  border-radius: 5px;
}

#cart-prod-details {
  width: 250px;
}

#cart-prod-price {
  width: 80px;
}

#order-summary {
  margin-top: 30px;
  border: 1px solid black;
}

#checkout-btn {
  font-size: 20px;
  color: white;
  background-color: red;
  height: 30px;
  border-radius: 5px;
  border: none;
}

#order-summary td {
  border: none;
}

.order-sum-total {
  height: 100px;
}
